* {
	overflow-x: hidden;
}

.App {
	text-align: center;
}

.app__form {
	padding: 20px;
	position: fixed;
	bottom: 0;
	z-index: 1;
	background-color: #e9e9eb;
	width: 80vw;
	max-width: 90vw;
	margin: 20px 20px;
}

.app__formControl {
	display: flex !important;
	flex-direction: row !important;
}

.app__input {
	flex: 1; /*its like zindex*/
}

.app__iconButton {
	flex: 0;
}

.app__h1 {
	color: blue;
}

.app__flipMove {
	/* background-color: red; */
	height: 100%;
	max-height: 65vh;
	width: 100vw;
	margin: 0 auto;
	max-width: 100%;
}

/* trick, scroll transparent */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}